<center><a href="<%= @preferences_uri %>" color="red" name="MP-payButton" class="button-look-and-feel" mp-mode="modal">Checkout</a></center>

<script type="text/javascript" src="http://mp-tools.mlstatic.com/buttons/render.js"></script>
